In [140]:
import pyspark as ps
from pyspark.sql import functions as F
from pyspark.sql.types import StringType, DoubleType, IntegerType, StructType, StructField, ArrayType

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# !pip install geopy
import folium
from geopy.geocoders import Nominatim
import time
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [3]:
spark = (ps.sql.SparkSession
         .builder
         .master('local[4]')
         .appName('lecture')
         .getOrCreate()
        )
sc = spark.sparkContext

In [4]:
park = spark.read.csv('../data/Parking_Violations_Issued_FY_2019.csv',
                         header=True,
                         inferSchema=True)
park.limit(5).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,13230,80030,20180702,78,78,968,86684,0968,0000,0811P,None,K,F,2,HANSON PLACE,None,0,408,D1,None,BBYBBBB,ALL,ALL,BLUE,0,2006,-,0,None,None,None,None,None
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,14890,15040,20200203,112,112,968,103419,0968,0000,1145A,None,Q,F,71-30,AUSTIN ST,None,0,408,C,None,BBBBBBB,ALL,ALL,GRY,0,2017,-,0,None,None,None,None,None
2,1130964875,GTR7949,NY,PAS,06/08/2018,24,SUBN,JEEP,X,64,18510,99,20180930,122,122,835,0,0835,0000,0355P,None,R,None,None,GREAT KILLS BOAT LAU,None,0,408,D5,None,BBBBBBB,ALL,ALL,GREEN,0,0,-,0,None,None,None,None,None
3,1130964887,HH1842,NC,PAS,06/07/2018,24,P-U,FORD,X,11310,39800,39735,0,122,122,835,0,0835,0000,0123P,None,R,None,None,GREAT KILLS PARK BOA,None,0,408,D5,None,BBBBBBB,ALL,ALL,WHITE,0,0,-,0,None,None,None,None,None
4,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,13230,80030,20190124,78,78,868,2354,0868,0000,0514P,None,K,F,2,HANSON PLACE,None,0,408,C4,None,BBBBBBB,ALL,ALL,GREEN,0,2007,-,0,None,None,None,None,None

In [5]:
nobs = park.count()
nobs

11467506

In [6]:
park.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect: string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: integer (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- No Standing or Stopping Violation: string (nullable = true)
 |-- Hydrant Violation: string (nullable = true)
 |-- Double Parking Violation: string (nullable = true)

In [7]:
# from pyspark.sql.functions import col,sum
missing = (park
           .select(
               *(F.sum(F.col(c).isNull().cast("int")).alias(c) / F.lit(nobs)
                  
                 for c in park.columns))
           .toPandas()
          )

In [ ]:
missing

In [8]:
schema = StructType( [
            StructField('columns',     StringType(), nullable = True),
            StructField('percent_missing', DoubleType(),  True), ] )

missing_t = (sc
             .parallelize([ (k,) + tuple(v[0:]) for k,v in missing.items()])
             .toDF(schema)
             .orderBy(F.desc('percent_missing'))
            )

missing_t.toPandas()

                                              columns  percent_missing
0   (sum(CAST((No Standing or Stopping Violation I...          1.00000
1   (sum(CAST((Hydrant Violation IS NULL) AS INT))...          1.00000
2   (sum(CAST((Double Parking Violation IS NULL) A...          1.00000
3   (sum(CAST((Time First Observed IS NULL) AS INT...          0.94450
4   (sum(CAST((Unregistered Vehicle? IS NULL) AS I...          0.92265
5   (sum(CAST((Meter Number IS NULL) AS INT)) AS `...          0.89164
6   (sum(CAST((Violation Legal Code IS NULL) AS IN...          0.84139
7   (sum(CAST((Violation Description IS NULL) AS I...          0.84136
8   (sum(CAST((Intersecting Street IS NULL) AS INT...          0.70888
9   (sum(CAST((From Hours In Effect IS NULL) AS IN...          0.50459
10  (sum(CAST((To Hours In Effect IS NULL) AS INT)...          0.50459
11  (sum(CAST((Violation Post Code IS NULL) AS INT...          0.23596
12  (sum(CAST((House Number IS NULL) AS INT)) AS `...          0.17631
13  (sum(CAST((Violation In Front Of Or Opposite I...          0.16627
14  (sum(CAST((Violation Location IS NULL) AS INT)...          0.16376
15  (sum(CAST((Issuer Squad IS NULL) AS INT)) AS `...          0.15861
16  (sum(CAST((Days Parking In Effect IS NULL) AS ...          0.15861
17  (sum(CAST((Issuer Command IS NULL) AS INT)) AS...          0.15861
18  (sum(CAST((Vehicle Color IS NULL) AS INT)) AS ...          0.01351
19  (sum(CAST((Vehicle Make IS NULL) AS INT)) AS `...          0.00611
20  (sum(CAST((Vehicle Body Type IS NULL) AS INT))...          0.00434
21  (sum(CAST((Violation County IS NULL) AS INT)) ...          0.00428
22  (sum(CAST((Street Name IS NULL) AS INT)) AS `S...          0.00015
23  (sum(CAST((Sub Division IS NULL) AS INT)) AS `...          0.00011
24  (sum(CAST((Violation Time IS NULL) AS INT)) AS...          0.00001
25  (sum(CAST((Issuing Agency IS NULL) AS INT)) AS...          0.00000
26  (sum(CAST((Summons Number IS NULL) AS INT)) AS...          0.00000
27  (sum(CAST((Plate ID IS NULL) AS INT)) AS `Plat...          0.00000
28  (sum(CAST((Registration State IS NULL) AS INT)...          0.00000
29  (sum(CAST((Plate Type IS NULL) AS INT)) AS `Pl...          0.00000
30  (sum(CAST((Issue Date IS NULL) AS INT)) AS `Is...          0.00000
31  (sum(CAST((Violation Code IS NULL) AS INT)) AS...          0.00000
32  (sum(CAST((Street Code1 IS NULL) AS INT)) AS `...          0.00000
33  (sum(CAST((Street Code2 IS NULL) AS INT)) AS `...          0.00000
34  (sum(CAST((Street Code3 IS NULL) AS INT)) AS `...          0.00000
35  (sum(CAST((Vehicle Expiration Date IS NULL) AS...          0.00000
36  (sum(CAST((Violation Precinct IS NULL) AS INT)...          0.00000
37  (sum(CAST((Issuer Precinct IS NULL) AS INT)) A...          0.00000
38  (sum(CAST((Issuer Code IS NULL) AS INT)) AS `I...          0.00000
39  (sum(CAST((Date First Observed IS NULL) AS INT...          0.00000
40  (sum(CAST((Law Section IS NULL) AS INT)) AS `L...          0.00000
41  (sum(CAST((Vehicle Year IS NULL) AS INT)) AS `...          0.00000
42  (sum(CAST((Feet From Curb IS NULL) AS INT)) AS...          0.00000

In [9]:
park2 = (park
#          .filter( ~(park['House Number'].isNull()) )
         .drop('Violation In Front Of Or Opposite',
               'Violation Post Code',
               'To Hours In Effect',
               'From Hours In Effect',
               'Intersecting Street',
               'Violation Description',
               'Violation Legal Code',
               'Meter Number',
               'Unregistered Vehicle?',
               'Time First Observed',
               'No Standing or Stopping Violation',
               'Hydrant Violation',
               'Double Parking Violation')
         .na.drop()
#          .dropDuplicates()
        )
park2.count(), len(park2.columns)

(9249224, 30)

In [10]:
park2.limit(5).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Violation County,House Number,Street Name,Date First Observed,Law Section,Sub Division,Days Parking In Effect,Vehicle Color,Vehicle Year,Feet From Curb
0,1438634997,88502MG,NY,COM,07/18/2018,14,DELV,FRUEH,P,24050,27100,16880,20190630,1,1,0,352979,SICA,0000,0831A,NY,37,JOHN ST,0,408,D1,BBBBBBB,WH,2006,0
1,1438634950,HFH3822,NY,PAS,07/10/2018,21,SUBN,FORD,P,11115,26630,97020,20200512,1,1,0,352979,SICA,0000,0957A,NY,28,WEST ST,0,408,J3,BYBBYBB,WH,2005,0
2,1437964163,HMW6402,NY,PAS,06/25/2018,40,SDN,HONDA,P,75530,51030,20530,20190312,84,84,0,929152,TB30,0000,1058A,K,200,SCHERMERHORN ST,0,408,C,BBBBBBB,GOLD,1999,0
3,1440903864,994WXW,IA,PAS,07/12/2018,21,FOUR,TOYOT,S,75980,73270,86730,0,76,76,0,685698,KS06,0000,0114A,K,45,SEABRING STREET,0,408,D1,YBBYBBB,BLUE,0,0
4,1441689680,KKM5094,PA,PAS,07/07/2018,21,SUBN,NISSA,S,56820,26640,36150,0,42,42,0,528339,BX01,0000,0125A,BX,3414,PARK AVE,0,408,D1,BBBBBYB,GY,0,0

In [ ]:
new_time = (park2.withColumn('new_time', 
                            F.to_timestamp(
                                F.concat('Violation Time', F.lit("M")),'hhmma'))
           )

In [ ]:
new_time.select('new_time', 'Violation Time').take(10)

In [29]:
def freq(df, col):
    (df
     .groupBy(col)
     .count()
     .orderBy(F.desc('count'))
     .show()
    )

In [12]:
freq(park2, 'Violation Code')

+--------------+-------+
|Violation Code|  count|
+--------------+-------+
|            21|1751453|
|            38|1141572|
|            14| 961108|
|            20| 780176|
|            46| 561214|
|            71| 543618|
|            40| 541638|
|            37| 473848|
|            70| 308743|
|            19| 300900|
|            16| 244926|
|            69| 230978|
|            31| 153690|
|            17| 129831|
|            74| 123704|
|            47| 114985|
|            84|  97029|
|            50|  84200|
|            48|  72441|
|            10|  64954|
+--------------+-------+
only showing top 20 rows

In [28]:
park3 = park2.filter((park2['Violation Code'].isin(21,38,14,20,46)))
park3.count()

5195523

In [30]:
freq(park3, 'Violation Code')

+--------------+-------+
|Violation Code|  count|
+--------------+-------+
|            21|1751453|
|            38|1141572|
|            14| 961108|
|            20| 780176|
|            46| 561214|
+--------------+-------+

In [39]:
park_sample = park3.sample(False, 0.01).toPandas()

In [159]:
park_sample.to_csv('../data/parking_sample.csv')

In [158]:
park_sample.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Violation County,House Number,Street Name,Date First Observed,Law Section,Sub Division,Days Parking In Effect,Vehicle Color,Vehicle Year,Feet From Curb,Address
0,1440986605,CJBM76,FL,PAS,07/03/2018,21,SUBN,VOLKS,S,48430,42730,13430,0,75,75,0,669512,KN05,0000,0952A,K,309,HEMLOCK STREET,0,408,D1,BYBBYBB,BLK,0,0,309 HEMLOCK STREET NYC
1,1442478639,HVY3873,NY,PAS,07/11/2018,21,SUBN,HONDA,S,31790,35290,65140,20191002,100,100,0,596638,KN16,0000,1142A,Q,420,BEACH 65TH ST,0,408,D1,BBYBBBB,WHITE,2017,0,420 BEACH 65TH ST NYC
2,8599896052,XDDD96,NJ,PAS,07/26/2018,14,SUBN,CHRYS,T,21730,30790,29290,88880088,1,1,1,367978,T101,G,1040A,NY,100,Greene St,0,408,D,YYYYYYY,BLACK,0,0,100 Greene St NYC
3,8619387285,71288MD,NY,COM,07/10/2018,14,DELV,INTER,T,34090,10810,10910,20180831,10,10,10,365934,T102,I,1240P,NY,345,W 16th St,0,408,H0,YYYYYYY,MR,2014,0,345 W 16th St NYC
4,8520533279,AF13961,PA,PAS,07/10/2018,46,TRAC,MACK,T,24890,18750,18770,20180088,19,19,19,367885,T103,N,0119P,NY,1332,Lexington Ave,0,408,F1,YYYYYYY,ORANG,0,0,1332 Lexington Ave NYC

In [42]:
park_sample.shape

(51819, 30)

In [43]:
park_sample['Address'] = park_sample['House Number'] + ' ' + park_sample['Street Name'] + ' NYC'

In [60]:
unique_addr = park_sample[['Address']].drop_duplicates()
unique_addr.shape

(37890, 1)

In [148]:
def get_location(address):
    geolocator = Nominatim(user_agent="capstone1")
    location = geolocator.geocode(address)
    if location:
        lat, long = location.latitude, location.longitude
        return lat, long
    else:
        return 0, 0

get_location_udf = F.udf(get_location, ArrayType(DoubleType()))

In [ ]:
get_address

In [ ]:
for i in range(4900,unique_addr.shape[0]+1,100): 
# for i in range(0,201,100):
    unique_addr['location'] = unique_addr.iloc[i:i+100,0].apply(lambda x: get_location(x))
    unique_addr.iloc[i:i+100,:].to_csv('../data/address3.csv', mode='a', header=False)
    print(f"Another hundred done!!!!! {i} to {i + 100}")

Another hundred done!!!!! 4900 to 5000
Another hundred done!!!!! 5000 to 5100
Another hundred done!!!!! 5100 to 5200
Another hundred done!!!!! 5200 to 5300
Another hundred done!!!!! 5300 to 5400
Another hundred done!!!!! 5400 to 5500
Another hundred done!!!!! 5500 to 5600
Another hundred done!!!!! 5600 to 5700
Another hundred done!!!!! 5700 to 5800
Another hundred done!!!!! 5800 to 5900
Another hundred done!!!!! 5900 to 6000
Another hundred done!!!!! 6000 to 6100
Another hundred done!!!!! 6100 to 6200
Another hundred done!!!!! 6200 to 6300
Another hundred done!!!!! 6300 to 6400
Another hundred done!!!!! 6400 to 6500
Another hundred done!!!!! 6500 to 6600
Another hundred done!!!!! 6600 to 6700
Another hundred done!!!!! 6700 to 6800
Another hundred done!!!!! 6800 to 6900
Another hundred done!!!!! 6900 to 7000
Another hundred done!!!!! 7000 to 7100
Another hundred done!!!!! 7100 to 7200
Another hundred done!!!!! 7200 to 7300
Another hundred done!!!!! 7300 to 7400
Another hundred done!!!!! 7400 to 7500
Another hundred done!!!!! 7500 to 7600
Another hundred done!!!!! 7600 to 7700
Another hundred done!!!!! 7700 to 7800
Another hundred done!!!!! 7800 to 7900
Another hundred done!!!!! 7900 to 8000
Another hundred done!!!!! 8000 to 8100
Another hundred done!!!!! 8100 to 8200
Another hundred done!!!!! 8200 to 8300
Another hundred done!!!!! 8300 to 8400
Another hundred done!!!!! 8400 to 8500
Another hundred done!!!!! 8500 to 8600
Another hundred done!!!!! 8600 to 8700
Another hundred done!!!!! 8700 to 8800
Another hundred done!!!!! 8800 to 8900
Another hundred done!!!!! 8900 to 9000
Another hundred done!!!!! 9000 to 9100
Another hundred done!!!!! 9100 to 9200
Another hundred done!!!!! 9200 to 9300
Another hundred done!!!!! 9300 to 9400
Another hundred done!!!!! 9400 to 9500
Another hundred done!!!!! 9500 to 9600
Another hundred done!!!!! 9600 to 9700
Another hundred done!!!!! 9700 to 9800
Another hundred done!!!!! 9800 to 9900
Another hundred done!!!!! 9900 to 10000
Another hundred done!!!!! 10000 to 10100
Another hundred done!!!!! 10100 to 10200
Another hundred done!!!!! 10200 to 10300
Another hundred done!!!!! 10300 to 10400
Another hundred done!!!!! 10400 to 10500
Another hundred done!!!!! 10500 to 10600
Another hundred done!!!!! 10600 to 10700
Another hundred done!!!!! 10700 to 10800
Another hundred done!!!!! 10800 to 10900
Another hundred done!!!!! 10900 to 11000
Another hundred done!!!!! 11000 to 11100
Another hundred done!!!!! 11100 to 11200
Another hundred done!!!!! 11200 to 11300
Another hundred done!!!!! 11300 to 11400
Another hundred done!!!!! 11400 to 11500
Another hundred done!!!!! 11500 to 11600
Another hundred done!!!!! 11600 to 11700
Another hundred done!!!!! 11700 to 11800
Another hundred done!!!!! 11800 to 11900
Another hundred done!!!!! 11900 to 12000
Another hundred done!!!!! 12000 to 12100
Another hundred done!!!!! 12100 to 12200
Another hundred done!!!!! 12200 to 12300
Another hundred done!!!!! 12300 to 12400
Another hundred done!!!!! 12400 to 12500
Another hundred done!!!!! 12500 to 12600
Another hundred done!!!!! 12600 to 12700
Another hundred done!!!!! 12700 to 12800
Another hundred done!!!!! 12800 to 12900
Another hundred done!!!!! 12900 to 13000
Another hundred done!!!!! 13000 to 13100
Another hundred done!!!!! 13100 to 13200
Another hundred done!!!!! 13200 to 13300
Another hundred done!!!!! 13300 to 13400
Another hundred done!!!!! 13400 to 13500
Another hundred done!!!!! 13500 to 13600
Another hundred done!!!!! 13600 to 13700
Another hundred done!!!!! 13700 to 13800
Another hundred done!!!!! 13800 to 13900
Another hundred done!!!!! 13900 to 14000
Another hundred done!!!!! 14000 to 14100
Another hundred done!!!!! 14100 to 14200
Another hundred done!!!!! 14200 to 14300
Another hundred done!!!!! 14300 to 14400
Another hundred done!!!!! 14400 to 14500
Another hundred done!!!!! 14500 to 14600
Another hundred done!!!!! 14600 to 14700
Another hundred done!!!!! 14700 to 14800
Another hundred done!!!!! 14800 to 14900
Another hundred done!!!!! 14900 to 15000
Another hundred done!!!!! 15000 to 15100
Another hundred done!!!!! 15100 to 15200
Another hundred done!!!!! 15200 to 15300
Another hundred done!!!!! 15300 to 15400
Another hundred done!!!!! 15400 to 15500
Another hundred done!!!!! 15500 to 15600
Another hundred done!!!!! 15600 to 15700
Another hundred done!!!!! 15700 to 15800
Another hundred done!!!!! 15800 to 15900
Another hundred done!!!!! 15900 to 16000
Another hundred done!!!!! 16000 to 16100
Another hundred done!!!!! 16100 to 16200
Another hundred done!!!!! 16200 to 16300
Another hundred done!!!!! 16300 to 16400
Another hundred done!!!!! 16400 to 16500
Another hundred done!!!!! 16500 to 16600
Another hundred done!!!!! 16600 to 16700
Another hundred done!!!!! 16700 to 16800
Another hundred done!!!!! 16800 to 16900
Another hundred done!!!!! 16900 to 17000
Another hundred done!!!!! 17000 to 17100
Another hundred done!!!!! 17100 to 17200
Another hundred done!!!!! 17200 to 17300
Another hundred done!!!!! 17300 to 17400
Another hundred done!!!!! 17400 to 17500
Another hundred done!!!!! 17500 to 17600
Another hundred done!!!!! 17600 to 17700
Another hundred done!!!!! 17700 to 17800
Another hundred done!!!!! 17800 to 17900
Another hundred done!!!!! 17900 to 18000
Another hundred done!!!!! 18000 to 18100
Another hundred done!!!!! 18100 to 18200
Another hundred done!!!!! 18200 to 18300
Another hundred done!!!!! 18300 to 18400
Another hundred done!!!!! 18400 to 18500
Another hundred done!!!!! 18500 to 18600
Another hundred done!!!!! 18600 to 18700
Another hundred done!!!!! 18700 to 18800
Another hundred done!!!!! 18800 to 18900
Another hundred done!!!!! 18900 to 19000
Another hundred done!!!!! 19000 to 19100
Another hundred done!!!!! 19100 to 19200
Another hundred done!!!!! 19200 to 19300
Another hundred done!!!!! 19300 to 19400
Another hundred done!!!!! 19400 to 19500
Another hundred done!!!!! 19500 to 19600
Another hundred done!!!!! 19600 to 19700
Another hundred done!!!!! 19700 to 19800
Another hundred done!!!!! 19800 to 19900
Another hundred done!!!!! 19900 to 20000
Another hundred done!!!!! 20000 to 20100
Another hundred done!!!!! 20100 to 20200
Another hundred done!!!!! 20200 to 20300
Another hundred done!!!!! 20300 to 20400
Another hundred done!!!!! 20400 to 20500
Another hundred done!!!!! 20500 to 20600
Another hundred done!!!!! 20600 to 20700
Another hundred done!!!!! 20700 to 20800
Another hundred done!!!!! 20800 to 20900
Another hundred done!!!!! 20900 to 21000
Another hundred done!!!!! 21000 to 21100
Another hundred done!!!!! 21100 to 21200
Another hundred done!!!!! 21200 to 21300
Another hundred done!!!!! 21300 to 21400
Another hundred done!!!!! 21400 to 21500
Another hundred done!!!!! 21500 to 21600
Another hundred done!!!!! 21600 to 21700
Another hundred done!!!!! 21700 to 21800
Another hundred done!!!!! 21800 to 21900
Another hundred done!!!!! 21900 to 22000
Another hundred done!!!!! 22000 to 22100
Another hundred done!!!!! 22100 to 22200
Another hundred done!!!!! 22200 to 22300
Another hundred done!!!!! 22300 to 22400
Another hundred done!!!!! 22400 to 22500
Another hundred done!!!!! 22500 to 22600
Another hundred done!!!!! 22600 to 22700
Another hundred done!!!!! 22700 to 22800
Another hundred done!!!!! 22800 to 22900
Another hundred done!!!!! 22900 to 23000
Another hundred done!!!!! 23000 to 23100
Another hundred done!!!!! 23100 to 23200
Another hundred done!!!!! 23200 to 23300
Another hundred done!!!!! 23300 to 23400
Another hundred done!!!!! 23400 to 23500
Another hundred done!!!!! 23500 to 23600
Another hundred done!!!!! 23600 to 23700
Another hundred done!!!!! 23700 to 23800
Another hundred done!!!!! 23800 to 23900
Another hundred done!!!!! 23900 to 24000
Another hundred done!!!!! 24000 to 24100
Another hundred done!!!!! 24100 to 24200
Another hundred done!!!!! 24200 to 24300
Another hundred done!!!!! 24300 to 24400
Another hundred done!!!!! 24400 to 24500
Another hundred done!!!!! 24500 to 24600
Another hundred done!!!!! 24600 to 24700
Another hundred done!!!!! 24700 to 24800
Another hundred done!!!!! 24800 to 24900
Another hundred done!!!!! 24900 to 25000
Another hundred done!!!!! 25000 to 25100
Another hundred done!!!!! 25100 to 25200
Another hundred done!!!!! 25200 to 25300
Another hundred done!!!!! 25300 to 25400
Another hundred done!!!!! 25400 to 25500
Another hundred done!!!!! 25500 to 25600
Another hundred done!!!!! 25600 to 25700
Another hundred done!!!!! 25700 to 25800
Another hundred done!!!!! 25800 to 25900
Another hundred done!!!!! 25900 to 26000
Another hundred done!!!!! 26000 to 26100
Another hundred done!!!!! 26100 to 26200
Another hundred done!!!!! 26200 to 26300
Another hundred done!!!!! 26300 to 26400
Another hundred done!!!!! 26400 to 26500
Another hundred done!!!!! 26500 to 26600
Another hundred done!!!!! 26600 to 26700
Another hundred done!!!!! 26700 to 26800
Another hundred done!!!!! 26800 to 26900
Another hundred done!!!!! 26900 to 27000
Another hundred done!!!!! 27000 to 27100
Another hundred done!!!!! 27100 to 27200
Another hundred done!!!!! 27200 to 27300
Another hundred done!!!!! 27300 to 27400
Another hundred done!!!!! 27400 to 27500
Another hundred done!!!!! 27500 to 27600
Another hundred done!!!!! 27600 to 27700
Another hundred done!!!!! 27700 to 27800
Another hundred done!!!!! 27800 to 27900
Another hundred done!!!!! 27900 to 28000
Another hundred done!!!!! 28000 to 28100
Another hundred done!!!!! 28100 to 28200
Another hundred done!!!!! 28200 to 28300
Another hundred done!!!!! 28300 to 28400
Another hundred done!!!!! 28400 to 28500
Another hundred done!!!!! 28500 to 28600
Another hundred done!!!!! 28600 to 28700
Another hundred done!!!!! 28700 to 28800
Another hundred done!!!!! 28800 to 28900
Another hundred done!!!!! 28900 to 29000
Another hundred done!!!!! 29000 to 29100
Another hundred done!!!!! 29100 to 29200
Another hundred done!!!!! 29200 to 29300
Another hundred done!!!!! 29300 to 29400
Another hundred done!!!!! 29400 to 29500
Another hundred done!!!!! 29500 to 29600
Another hundred done!!!!! 29600 to 29700
Another hundred done!!!!! 29700 to 29800
Another hundred done!!!!! 29800 to 29900
Another hundred done!!!!! 29900 to 30000
Another hundred done!!!!! 30000 to 30100
Another hundred done!!!!! 30100 to 30200
Another hundred done!!!!! 30200 to 30300
Another hundred done!!!!! 30300 to 30400
Another hundred done!!!!! 30400 to 30500
Another hundred done!!!!! 30500 to 30600
Another hundred done!!!!! 30600 to 30700
Another hundred done!!!!! 30700 to 30800
Another hundred done!!!!! 30800 to 30900
Another hundred done!!!!! 30900 to 31000
Another hundred done!!!!! 31000 to 31100
Another hundred done!!!!! 31100 to 31200
Another hundred done!!!!! 31200 to 31300
Another hundred done!!!!! 31300 to 31400
Another hundred done!!!!! 31400 to 31500
Another hundred done!!!!! 31500 to 31600
Another hundred done!!!!! 31600 to 31700
Another hundred done!!!!! 31700 to 31800
Another hundred done!!!!! 31800 to 31900
Another hundred done!!!!! 31900 to 32000
Another hundred done!!!!! 32000 to 32100
Another hundred done!!!!! 32100 to 32200
Another hundred done!!!!! 32200 to 32300
Another hundred done!!!!! 32300 to 32400
Another hundred done!!!!! 32400 to 32500
Another hundred done!!!!! 32500 to 32600
Another hundred done!!!!! 32600 to 32700
Another hundred done!!!!! 32700 to 32800
Another hundred done!!!!! 32800 to 32900

In [143]:
def unpack(row):
    try:
        return {'lat': row['location'][0], 'long': row['location'][1]}
    except:
        return np.nan

coord = pd.concat([unique_addr, unique_addr.apply(unpack, axis=1, result_type='expand')], axis=1)

In [147]:
coord[~coord['lat'].isnull()]

,Address,location,lat,long
0,309 HEMLOCK STREET NYC,"(40.682301949999996, -73.87054313462036)",40.6823019500,-73.8705431346
1,420 BEACH 65TH ST NYC,"(40.5936317, -73.79401702642045)",40.5936317000,-73.7940170264
2,100 Greene St NYC,"(40.7242355, -73.99969014999999)",40.7242355000,-73.9996901500
3,345 W 16th St NYC,"(40.7420332, -74.00328949413588)",40.7420332000,-74.0032894941
4,1332 Lexington Ave NYC,"(40.7813743, -73.9543929)",40.7813743000,-73.9543929000
...,...,...,...,...
95,424 E 89th St NYC,"(40.7782835, -73.9469761)",40.7782835000,-73.9469761000
96,420 W 116th St NYC,"(40.8062456, -73.9601834)",40.8062456000,-73.9601834000
97,511 W 167th St NYC,"(40.8398282, -73.93810689070588)",40.8398282000,-73.9381068907
98,3048 Buhre Ave NYC,"(40.8473914, -73.8308745)",40.8473914000,-73.8308745000
99,S E 192nd St NYC,"(40.8639748, -73.89461)",40.8639748000,-73.8946100000

Manhatten
Bronx
Brooklyn
Staten Island
Queens

In [150]:
unique_addr

                       Address                                  location
0       309 HEMLOCK STREET NYC  (40.682301949999996, -73.87054313462036)
1        420 BEACH 65TH ST NYC          (40.5936317, -73.79401702642045)
2            100 Greene St NYC          (40.7242355, -73.99969014999999)
3            345 W 16th St NYC          (40.7420332, -74.00328949413588)
4       1332 Lexington Ave NYC                 (40.7813743, -73.9543929)
...                        ...                                       ...
51809  35-26 Farrington St NYC                                       NaN
51812       121 W 188th St NYC                                       NaN
51813    944 Amsterdam Ave NYC                                       NaN
51815    32-24 Steinway St NYC                                       NaN
51818  168-45 Highland Ave NYC                                       NaN

[37890 rows x 2 columns]

In [152]:
1+1

2

In [154]:
unique_addr.shape[0]

37890